.input[type=text]{
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
	width: 10%;
}

p {
	color: red
}

hi1 {
	color: green;
}

body {
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/30068/screenshots/1485005/tiny-elephant-logo.png");
}
