.button {
	width: 100px;
	height: 50px;
	margin: 200px 50px 150px 1100px;
}

.input[type=text]{
	width: 500px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
	width: 30%;
}

p {
	color: red
}

h1 {
	color: green;
}

body {
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/30068/screenshots/1485005/tiny-elephant-logo.png");
}
